* {
    box-sizing: border-box;
}

body{
    min-width: 300px;    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    margin: 0px;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
    flex-basis: 80%;
    width: 100%;
}

td,th{
    padding: 15px;
    border-right: solid 1px rgb(63, 81, 181);
    border-left: solid 1px rgb(63, 81, 181);
}

th{
    text-align: center;
    background-color: rgba(63, 81, 181,0.15);
}

tr{
    border:none;
    opacity: 0.8;
    transition: 0.05s;
}



tr:hover, .selected {    
    border-top: solid 2px rgb(114, 174, 217);
    border-bottom: solid 2px rgb(114, 174, 217);
    opacity: 1;
}

input,select{
    margin: 10px 0;
    display: block;
    width:100%;
}

button{
  padding:10px;
  border:none;
  background-color:rgb(37, 80, 136);
  color:#fff;
  font-weight:600;
  border-radius:10px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;  
}

button:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[type=text], input[type=number], select{
    padding: 10px;
    border:0; 
    border-bottom:1px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}

input[type=radio]{
    display:inline-block;
}

label[for='alquiler'], label[for='venta']{
    justify-content: center;
}

tbody tr:nth-child(odd) {
  background-color: rgba(37, 80, 136,0.35);
}

tbody tr:nth-child(even) {
  background-color: rgba(37, 80, 136,0.15);
}


#tableContainer, #form, fieldset{
    width:80%; 
    margin:20px auto;
    padding: 10px;
    text-align:left;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;  
    overflow: auto;
}

fieldset>form{
    width: 100%;
}

#modal-content{
    height:100px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    display: block;
}

#modal{
    z-index: 1;
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:1;
    pointer-events:none;
    display: block;
}

p{    
    display: none;
    text-align: center; 
}

#errorMsg{
    color:red;
    display: none;
    text-align: center;    
    text-emphasis: bolder;
    font-size: 20px;
    transition: 0.05s;
}

#errorMsg:hover{
    transform: scale(1.05);
}

header, footer {
    overflow: hidden;
    background-color: rgba(17, 115, 206,0.6);
}

.headerNav{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}

a{
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
}

.icon{
    width: 16px;
    height: 16px;
    margin-left: 0px;
    margin-right: 15px;
}

img{
    height: 90px;
    max-width: 900px;
}

#imgContainer{    
    text-align: center;
}

#logo{
    max-width: 100%;
    max-height: 80px;
    margin-left: 20px;
}

#banner{
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.footerNav{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.footerText{
    display:block;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}



@media screen and (max-width:850px){
    header{
        display: flex;
        flex-direction: column;
    }
} 